.project {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  margin: 0 auto;
  padding: 90px 70px;
  width: 100%;
  box-sizing: border-box;
  }

  .project__container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%
  }
    
  .project__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    align-self: start;
    margin: 18px 0;
    text-align: left;
  }
  
  .project__description {
    display: flex;
    border-top: solid #424242;
    justify-content: center;
    width: 100%;
    padding: 52px 0 106px;
    gap: 46px;
  }
  
  .project__info {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .project__info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;    
    color: #fff;
    text-align: start;
  }
  
  .project__info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: start;
    margin: 5px 0;
    letter-spacing: +0.03em;
  }
  
  .project__duration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .project__back {
    width: 20%;
  }
  
  .project__front {
    width: 80%;
  }
  
  .project__weeks {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  
  .project__weeks_type_green {
    background-color: #3DDC84;
    color: black;
  }
  
  .project__weeks_type_gray {
    background-color: #303030;
    color: white;
  }
  
  .project__weeks-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    letter-spacing: -0.04em;
  }
  
  @media (max-width: 770px) {
    .project {
      padding: 78px 50px;
    }

    .project__container{
      max-width: 668px;
      width: 100%
    }  
  
    .project__description {
      gap: 30px;
      padding: 52px 0 88px;
    }
  
    .project__info-text {
      margin: 2px 0;
      font-size: 12px;
      line-height: 18px;
    }

    .project__back {
      width: 21%;
    }

    .project__front {
      width: 78%;
    }  
  }
  
  @media (max-width: 470px) {
    .project {
      padding: 70px 18px;
    }

    .project__container {
      max-width: 284px;
      width: 100%
    }

    .project__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      align-self: start;
      margin: 6px 0;
      text-align: left;
    }
  
    .project__description {
      gap: 38px;
      margin-bottom: 26px;
      flex-direction: column;
      padding: 65px 0 34px;
    }
 
    .project__info {
      width: 100%;
      flex-direction: column;
    }
   
    .project__info-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
    }
  
    .project__info-text {
      font-size: 11px;
      line-height: 16px;
      margin: 0;
    }

    .project__back {
      width: 35%;
    }
    
    .project__front {
      width: 65%;
    }
    
    .project__weeks {
      height: 34px;
      font-size: 11px; 
    }
    
    .project__weeks-name {
      font-size: 11px;
      line-height: 11px;
      letter-spacing: -0.04em;
    }

  }