.movies {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 0 auto;
    padding: 10px 70px 0;
    width: 100%;
    box-sizing: border-box;	
	}

.movies__container{
	display: flex;
    flex-direction: column;
	justify-content: center;
	padding: 80px 0 0;
    margin: 0 auto;
    max-width: 1140px;
	width: 100%;
	border-top: 3px solid rgba(75, 75, 75, 0.3);
}

.movies__list {
	display: grid;
	width: 100%;
	justify-content: center;	
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(203px, 1fr));
	gap: 37px 27px;	
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

.movies__add {
	display: flex;
	width: 320px;
	justify-content: center;
	margin: 61px 0;
}

.movies__add_type_invisible{
	visibility: hidden;
	margin: 95px 0;
}


.movies__add-button {
	background: inherit;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	border-radius: 6px;	
	width: 320px;
	height: 36px;
	border: 1px solid #8b8b8b;
}

.movies__add-button:hover {
	opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

@media screen and (max-width: 1180px) {
	.movies {
		padding: 0 30px;
	}	
}

@media screen and (max-width: 770px) {
	.movies__list {
		grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));    	
		gap: 28px 27px;
	}	
	
	.movies__container{
	padding: 75px 0 0 0;
	max-width: 708px;	
}	
	.movies__button {
		width: 240px;
	}
	
  .movies__add {
	margin: 80px 0 58px;
}

.movies__add_type_invisible{
	margin: 57px 0;
}	

}

@media screen and (max-width: 755px) {
	.movies__list {
		grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
		gap: 16px;		
	}
	.movies__container{
		padding: 67px 0 0px;		
	}
}

@media screen and (max-width: 470px) {
		
	.movies {
		padding: 0 10px 25px;		
	}
	
  .movies__add {
	margin: 80px 0 60px;
	width: 240px;
}

.movies__add_type_invisible{
	margin: 56px 0;
}
	
}

@media (max-width: 330px) {
	.movies {
		max-width: 318px;
	}
	}