.search {
  width: 100%;	
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 70px 70px;
  box-sizing: border-box;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;  
  border-radius: 9px;  
  background-color: #222;
}

.search__input-container{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
 
.search__input {
  width: 100%;
  padding: 20px 10px 20px 40px;
  background-color:transparent;
  color: #8B8B8B;
  text-align: left;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  background-image: url('../../../images/background-lupa.svg');
  border: none;
  background-position: left;
  background-repeat: no-repeat;
  background-color:transparent;
  object-fit: cover;
  align-self: center;
}

.search__input:focus {
  background-image: none
}

.search__button {
  width: 80px;
  height: 34px;
  margin: 0 20px 0 0;
  padding: 0;
  background-image: url('../../../images/find.svg');
  border: none;
  background-position: right;
  background-repeat: no-repeat;
  background-color:transparent;
  cursor: pointer;
  object-fit: cover;
  align-self: center;
}

.search__button:hover {
  opacity: 0.6;
}

.search__line {
 border-right: 2px solid #505050;
 height: 40px;
 align-self: center;
}

@media screen and (max-width: 770px) {
  .search {
    padding: 80px 30px 110px;
  }

  .search__form {
    max-width: 708px;
  }
  
}

@media screen and (max-width: 470px) {
  .search {
    padding: 80px 10px 45px;
  }

  .search__form {
    max-width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
  }

  .search__input {
    font-size: 14px;
    line-height: 20px;
  }

  .search__line {
    display: none;
   }
}