.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 100vh;
    padding: 70px 0;
    width: 100%;
    margin: 0;
  }

  .login__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
  }
  
  .login__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  
  .login__logo {
    width: 38px;
    height: 38px;
  }
  
  .login__logo:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .login__title {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-top: 40px;
  }
  
  .login__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    width: 100%;    
  }

  .login__form {
    width: 100%;
  }

    .login__label {
    font-weight: 400;
    font-size: 10px;
    color: #8B8B8B;
    display: flex;
    text-align: start;
    margin-bottom: 3px;
  }

  .login__input {
    height: 46px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #2f2f2f;
    width: 100%;
    padding: 15px;
    margin: 0 0 20px 0;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .login__input:focus {
    outline: none;
    transform: scale(1.01);
  }
    
  .login__submit-button {
    background: #4285F4;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: 0;
    width: 100%;
    height: 45px;
    margin-top: 190px;
    border-radius: 3px;
  }
  
  .login__submit-button:hover {
    opacity: 0.6;
    cursor: pointer;
     transition: opacity 0.3s ease;
  }
  
  .login__correction {
    margin: 16px auto;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center; 
  }
  
  .login__correction-text {
    color: #8B8B8B;
    margin: 0;
    padding: 0;
  }
  
  .login__link-signup {   
    color: #4285F4;
    padding: 0;
    margin: 0;
  }
  
  .login__link-signup:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  @media (max-width: 770px) {
    
    .login__container{
      max-width: 396px;
    }
  
    .login__title {
      font-size: 24px;
      }

    .login__correction {
      font-size: 13px;
      }
   
    .login__submit-button {
      font-size: 12px;
     }
    }
  
   @media (max-width: 470px) {
    .login {
      padding: 55px 30px 30px;      
    }
    
    .login__container{
      max-width: 260px;
      
    }

    .login__header {
      display: flex;
      flex-direction: column;
      align-items:center;
      align-self: center;
    }
   
    .login__submit-button {
      margin-top: 260px;
     }
    }